{% extends 'base.html' %}

{% block title %}Staff Dashboard{% endblock %}

{% block content %}

<br />
<br />
<br />

<h1 class="dashb__header">Staff Dashboard</h1>

<br />
<br />
<br />

<a href="{% url 'doclist' %}">
  <h1 class="dashb__cta">
    <img
      height="100px"
      style="border-radius: 10px; display: inline;"
     src="https://thomas-christmas.s3.us-east-2.amazonaws.com/giphy.gif" />
    Top Secret Custom TCP Protocols
    <img
      height="100px"
      style="border-radius: 10px; display: inline;"
     src="https://thomas-christmas.s3.us-east-2.amazonaws.com/giphy.gif" />
  </h1>
</a>

{% endblock %}
