{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="base__container">
        <a class="neutral-link" href="{% url 'index' %}">
          <div class="feature">
            <h1 class="feature">thomasdevri.es</h1>
            <h1 class="feature">thomasdevri.es</h1>
          </div>
        </a>
        <p class="base__thomaszone"
          >Welcome to the
            <span class="base__thomaszone shadow"
              >Thomas Zone
            </span>
        </p>
        {% block header-extension %}{% endblock %}
      </div>
    </header>
    <main class="main">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>
